.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.submitNewPost {
  margin: 100px;
}

.submission {
  margin: 10px;
}

#inputContent {
  height: 100px;
  width: 300px;
}

#submitPost {
  width: 50px;
  height: 30px;
}

.renderPosts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  margin: 10px;
  width: 1000px;
}